.navbar ul {
    list-style: none;
    margin-bottom: 0;
}

.navbar li {
    float: left;
    margin: 0 1em 1em 0;
}

@media screen and (max-width: 549px) {
    table {
	table-layout: auto;
    }
}
@media screen and (min-width: 550px) {
    table {
	table-layout: fixed;
    }
}
